table {border-style: solid;
        border-width: 2px;
        border-color: #222;
        margin: auto;
        width: 80%;}
th, td {border-style:solid;
        border-width: 2px;
        border-color: #222;
        padding: .5em;
    text-align: center;}
.movie-title {text-align: left;}
tr:nth-child(odd) {background-color: #f4e1d2;}
tr:nth-child(even) {background-color: #c5dff8;}
